@use './vars.scss';
@use './colors.scss';
@use './mixins.scss' as *;

@use './styles/input.scss';
@use './styles/redGreenCellRenderer.scss';
@use './styles/scrollbar.scss';
@use './styles/body.scss';
@use './styles/ag-grid.scss';

:root {
   --color-green: #{colors.$green};
   --color-red: #{colors.$red};
   --color-midBlack: #{colors.$midBlack};
   --color-white: #{colors.$white};
   --color-black: #{colors.$black};
   --color-accent: #{colors.$accent};
   --color-orange: #{colors.$orange};
   --color-accent-dark: #{colors.$accentdark};

   --color-url-column: #7373ff;
}

@include forLight {
   & {
      --ag-header-foreground-color: #{colors.$accent} !important;
      --ag-header-background-color: hsl(240, 100%, 99%);
      --color-keyword-column: #6b6b99;
      --ag-odd-row-background-color: #fff;
      --ag-border-color: transparent;

      --color-apex-text: #1e1f1e;
   }
}
@include forDark {
   & {
      --color-keyword-column: #{colors.$white} !important;
      --color-apex-text: #fff;
   }
}
