@use '/src/styles/mixins.scss' as *;

.vi-input-text {
   @apply shadow-sm p-2 rounded-md outline-none transition-shadow duration-300 box-border 
      border-solid border-gray-300 border-width-2px placeholder-gray-400 .dark:placeholder-dark-50
      dark:(bg-dark-500 text-white border-dark-50)
      focus:(border-[var(--color-accent)] shadow-lg);
}

.no-arrows {
   appearance: none;
   &::-webkit-outer-spin-button,
   &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
   }

   /* Firefox */
   &[type='number'] {
      -moz-appearance: textfield;
   }
}
